* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.contenido {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.section-break {
   height: 100px;
   width: 100%;
   display:flex;
   align-items: center;
   justify-content: center;
}

.section-break-line {
   background-color: #242424;
   height: 3px;
   width: 80%;
}

/* * * * * * * * * * * * * * * * * * * * *

Todo lo referente a la barra de navegación 

* * * * * * * * * * * * * * * * * * * * * */

#navbar {
   width: 100%;

   display: inline-block;

   position: fixed;
   top: 0;
   left: 0;

   background-color: Black;

   font-family: "Lato", sans-serif;
   font-size: 15px;

   z-index:100;
}

.nav-link {
   display: inline-block;
   padding: 15px;

   color: White;

   text-align: center;

   text-decoration: none;
}
.nav-link:hover{
   color:rgb(207, 207, 207);
   transition: all 0.4s ease 0s;
}

#logo {
   width: 120px;
   background-color: #EFA700;
   font-weight: bold;
}

.navbar-right {
   position: absolute;
   top: 0;
   right: 0;
   margin-right: 15px;
}

.navbar-collapse,
.navbar-toggler {
   display: none;
}

/* * * * * * * * * * * 

Carrusel de imagenes 

* * * * * * * * * * * */

/* Contenedor del Carrusel */
.contenedor-carrusel {
   padding-top: 15px;
   width: 100%;
   position: relative;
   margin: auto;
 }
 
 /* Esconder las imagenes por defecto */
 .misFotos {
   display: none;
   width: 100%;
   height: 100%;
 }
 
 /* Flechas laterales */
 .prev, .next {
   cursor: pointer;
   position: absolute;
   top: 50%;
   width: auto;
   margin-top: -22px;
   padding: 16px;
   color: white;
   font-weight: bold;
   font-size: 36px;
   transition: 0.6s ease;
   border-radius: 0 5px 5px 0;
   user-select: none;
 }

 .image {
   width: 100%;
   height: 100%;
 }
 
 .next {
   right: 0;
   border-radius: 5px 0 0 5px;
 }
 
 .prev:hover, .next:hover {
   background-color: rgba(0,0,0,0.8);
 }
 
 /* Caption text */
 .caption {
   color: rgb(255, 255, 255, 0.9);
   text-shadow: 1px 1px 3px rgb(61, 61, 61);
   font-family: "Helvetica";
   font-weight: bold;
   font-size: 40px;
   padding: 8px 12px;
   position: absolute;
   bottom: 8px;
   width: 100%;
   text-align: center;
 }
 
 /* Numero de la imagen (1/3-3/3) */
 .numeroSlide {
   color: #f2f2f2;
   font-size: 12px;
   padding: 8px 12px;
   position: absolute;
   top: 0;
 }
 
 /* Puntos indicadores */
 .dot {
   cursor: pointer;
   height: 15px;
   width: 15px;
   margin: 0 2px;
   background-color: #bbb;
   display: inline-block;
   transition: background-color 0.6s ease;
 }
 
 .active, .dot:hover {
   background-color: #717171;
 }
 
 /* Animacion de degradado */
 .fade {
   animation-name: fade;
   animation-duration: 1.5s;
 }
 
 @keyframes fade {
   from {opacity: .4}
   to {opacity: 1}
 }

 @media (max-width: 842px) {

   /* * * * * * * * * * * * * * * *

   Barra de navegación responsiva

   * * * * * * * * * * * * * * * */

   .navbar-right,
   .navbar {
      display: block;

      border-top: 1px solid DimGray;
   }

   .navbar-right {
      position: static;
   }

   .navbar .nav-link {
      display: block;
   }

   .navbar-collapse:checked + .navbar {
      max-height: 50px;
      overflow: hidden;
   }

   .navbar-toggler {
      color: White;

      display: inline-block;
      padding: 15px 25px;

      position: absolute;
      top: 0;
      right: 0;

      border-left: 1px solid DimGray;

      cursor: pointer;
   }
}

/* * * * * * * * * * * *

Experience

* * * * * * * * * * * */

#experience {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   row-gap: 10px;
   column-gap: 10px;
}

.experience-box{
   display: grid;
   grid-template-columns: 1fr 1fr;
   row-gap: 0px;
   column-gap: 0px;
   padding: 10px;
}

.experience-box-2 {
   display: flex;
   flex-direction: column;
   row-gap: 10px;
   column-gap: 10px;
   padding: 10px;
   max-width: 100%;
   align-items: center;
}

.experience-line-break {
   height:3px;
   background-color: #EFA700;
   width: 300px;
}

.experience-box-content{
   display: grid;
   grid-template-columns: 1fr;
   padding: 10px;
}

.experience-img {
   max-width: 200px;
   max-height: 300px;
}

.tech-img {
   max-height: 70px;
   margin-top: 10px;
}

.title-text {
   font-family: 'Trebuchet MS';
   color: #000000;
   font-size: 300%;
}

.experience-fecha {
   padding: 10px;
   font-family: 'century gothic';
   color: #969696;
}

.experience-link {
   padding: 10px;
   font-weight: bold;
   text-decoration: none;
   color: #242424;
}

@media (max-width: 842px) {
   #experience {
      padding: 40px 0px 0px 0px;
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 10px;
      column-gap: 10px;
   }
} 
/* * * * *

About Me

* * * * */

#abme {
   display: flex;
   justify-content: center;
}

.abme-title {
   grid-area: title;
   display: flex;
   flex-direction: column;
}

.abme-line {
   min-height: 5%;
   width: 60%;
   background-color: #EFA700;
}

.abme-text-1 {
   color:rgb(118, 118, 118);
   padding:5%;
   font-size: 100%;
}

.abme-img-container {
   background-color: #a67c33;
   grid-area: img;
   max-width: 90%;
   max-height: 100%;
   margin: 5% 5% 5% 10%;
}

.abme-img {
   position:relative;
   right: 10%;
   bottom:5%;
   max-width: 100%;
}

.abme-text-1 {
   grid-area: text-1;
   font-size: 110%;
}

.abme-objetivo-1-container {
   padding-left:10%;
   grid-area: objetivo-1;
}

.abme-objetivo-2-container {
   padding-left:10%;
   grid-area: objetivo-2;
}

.abme-objetivo-title {
   font-size: 120%;
}

.abme-objetivo-text {
   color:rgb(118, 118, 118);
   font-size: 80%;
   text-align: justify;
   max-width: 100%;
}

.abme-gustos {
   grid-area: gustos;
   padding-left: 5%;
   font-size: 80%;
   color: #85704C;
}

.abme-container {
   padding:20px;
   max-width: 800px;
   display: grid;
   row-gap: 0px;
   column-gap: 20px;
   grid-template-areas: 
      "title title img img"
      "text-1 text-1 img img"
      "objetivo-1 objetivo-2 img img"
      "gustos gustos img img";
}

.classy-link {
   text-decoration: underline #EFA700;
   color:rgb(70, 70, 70);
}
