* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* Todo lo referente a la barra de navegación */

#navbar {
   width: 100%;

   display: inline-block;

   position: fixed;
   top: 0;
   left: 0;

   background-color: Black;

   font-family: "Lato", sans-serif;
   font-size: 15px;

   z-index:100;
}

.nav-link {
   display: inline-block;
   padding: 15px;

   color: White;

   text-align: center;

   text-decoration: none;
}
.nav-link:hover{
   color:rgb(207, 207, 207);
   transition: all 0.4s ease 0s;
}

#logo {
   width: 120px;
   background-color: #EFA700;
   font-weight: bold;
}

.navbar-right {
   position: absolute;
   top: 0;
   right: 0;
   margin-right: 15px;
}

.navbar-collapse,
.navbar-toggler {
   display: none;
}

@media (max-width: 842px) {
   .navbar-right,
   .navbar {
      display: block;

      border-top: 1px solid DimGray;
   }

   .navbar-right {
      position: static;
   }

   .navbar .nav-link {
      display: block;
   }

   .navbar-collapse:checked + .navbar {
      max-height: 50px;
      overflow: hidden;
   }

   .navbar-toggler {
      color: White;

      display: inline-block;
      padding: 15px 25px;

      position: absolute;
      top: 0;
      right: 0;

      border-left: 1px solid DimGray;

      cursor: pointer;
   }
}

/* * * * *

About Me

* * * * */

#abme {
   display: flex;
   justify-content: center;
}

.abme-title {
   grid-area: title;
   display: flex;
   flex-direction: column;
}

.abme-title-text {
   font-family: "Helvetica";
   font-weight: bold;
   font-size: 250%;
}

.abme-line {
   min-height: 5%;
   width: 60%;
   background-color: #EFA700;
}

.abme-text-1 {
   color:rgb(118, 118, 118);
   padding:5%;
   font-size: 100%;
}

.abme-img-container {
   background-color: #a67c33;
   grid-area: img;
   max-width: 90%;
   max-height: 100%;
   margin: 5% 5% 5% 10%;
}

.abme-img {
   position:relative;
   right: 10%;
   bottom:5%;
   max-width: 100%;
}

.abme-text-1 {
   grid-area: text-1;
}

.abme-objetivo-1-container {
   padding-left:10%;
   grid-area: objetivo-1;
}

.abme-objetivo-2-container {
   padding-left:10%;
   grid-area: objetivo-2;
}

.abme-objetivo-title {
   font-size: 110%;
}

.abme-objetivo-text {
   color:rgb(118, 118, 118);
   font-size: 80%;
   text-align: justify;
   max-width: 100%;
}

.abme-gustos {
   grid-area: gustos;
   padding-left: 5%;
   font-size: 80%;
   color: #85704C;
}

.abme-container {
   padding:20px;
   max-width: 800px;
   display: grid;
   row-gap: 0px;
   column-gap: 20px;
   grid-template-areas: 
      "title title img img"
      "text-1 text-1 img img"
      "objetivo-1 objetivo-2 img img"
      "gustos gustos img img";
}

.classy-link {
   text-decoration: underline #EFA700;
   color:rgb(70, 70, 70);
}