* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* Todo lo referente a la barra de navegación */

#navbar {
   width: 100%;

   display: inline-block;

   position: fixed;
   top: 0;
   left: 0;

   background-color: Black;

   font-family: "Lato", sans-serif;
   font-size: 15px;
}

.nav-link {
   display: inline-block;
   padding: 15px;

   color: White;

   text-align: center;

   text-decoration: none;
}
.nav-link:hover{
   color:rgb(207, 207, 207);
   transition: all 0.4s ease 0s;
}

#logo {
   width: 120px;
   background-color: #EFA700;
   font-weight: bold;
}

.navbar-right {
   position: absolute;
   top: 0;
   right: 0;
   margin-right: 15px;
}

.navbar-collapse,
.navbar-toggler {
   display: none;
}

@media (max-width: 842px) {
   .navbar-right,
   .navbar {
      display: block;

      border-top: 1px solid DimGray;
   }

   .navbar-right {
      position: static;
   }

   .navbar .nav-link {
      display: block;
   }

   .navbar-collapse:checked + .navbar {
      max-height: 50px;
      overflow: hidden;
   }

   .navbar-toggler {
      color: White;

      display: inline-block;
      padding: 15px 25px;

      position: absolute;
      top: 0;
      right: 0;

      border-left: 1px solid DimGray;

      cursor: pointer;
   }
}